



.App {

  text-align: center;

}

.App-logo {
  
  height: 200px;
}

.App-header {
  background-color: blue;
  height: 40px;
  padding: 20px;
  color: white;

}

.App-title {
  margin-top: 10px;
  font-size: 50px;
  margin-bottom: 20px;
}

.App-intro {
  margin-top: 40px;
  color: white;
  font-size: 35px;
}


