



.App {

  text-align: center;

}

.App-logo {
  
  height: 200px;
}

.App-header {
  font-size: 48px;
  background-color: blue;
  height: 60px;
  padding: 20px;
  color: white;

}

.App-title {
  margin-top: 10px;
  font-size: 50px;
  margin-bottom: 20px;
}

.App-intro {
  margin-top: 40px;
  color: white;
  font-size: 35px;
}

#UsrData{
  font-size: 18px;
}


